/****Général****/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color:rgba(50, 50, 50, .1);
}

a{
  text-decoration: none;
  color: inherit;
}

/******JOUEURS*******/

.player{
  position: relative;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 950;
  letter-spacing: 2px;
}

.score{
  font-size: 3em;
  font-weight: 700;
  color: #EB4D4C;
}

.playerContainer-0-panel, .playerContainer-1-panel {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.active {
  background-color: rgba(247, 247, 247);
}
.active .player {
  font-weight: 300;
}

.active .player::after {
  content: "\2022";
  font-size: 50px;
  color: #EB4D4C;
  position: absolute; 
  top: 30px;
}

.current-score{
  color: #fff;
  font-size: 2em;
 
}

.current-label {
  margin-bottom: 10px;
  font-size: 1.4em;
  color: black;
} 

/***Boutons***/

.container-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

 button {
  position: absolute;
  width: 200px;
  color: #555;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 10px;
}

.btn-new-game {
  top: 40px;
}

.btn-roll-dice {
  top: 400px;
}

.btn-hold {
  top: 500px;
}

.btn-edit{
  top: 10px;
  right: 10px;
}

i {
  color: #EB4D4C;
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5em;
  vertical-align: text-top;
  margin-top: -5px;
}

/***Image***/

 .img-dice{
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  z-index: 1;
} 

/* Animation à la fin du jeu */
.confetti{
  width: 10px;
  height: 10px;
  background-color: red;
  animation: falling 5s infinite;
  position: absolute;
  top: -20px;
  z-index: 2;
}

#allconfettis {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

@keyframes falling{
  0%{
    top: -20px;
    transform: rotate(180deg);
  }
  20%{
    transform: translateX(100px) rotate(360deg);
  }
  40%{
    transform: translateX(40px) rotate(180deg);
    
  }
  50%{
    opacity: 1;
    transform: translateX(20px) rotate(360deg);

  }
  70%{
    opacity: 0.2;
    transform: translateX(30px) rotate(180deg);
  }
  100%{
    opacity: 0;
    top: 100%;
    transform: translateX(20px) rotate(360deg);
  }
}

/*****LES MÉDIQUERIES*****/
@media screen and (max-width: 769px){
  .playerContainer-0-panel{
    margin-bottom: 400px;
  } 

  .btn-new-game{
    top: 70px;
  }
  .img-dice{
    top: 750px;
  }

  .btn-roll-dice {
    top: 950px;
  }
  
  .btn-hold {
    top: 1060px;
  }

  #container-player{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  #player-0, #player-1{
    margin-bottom: -20px;
  }

  .playerContainer-0-panel, .playerContainer-1-panel{
    width: 100%;
  }

}

































